# Ignore venv
/venv_pos_tech
credentials_gcp*
questoes_selecionadas.txt
fase_3/tech_challenge/dados/*.zip
__pycache__
build_query.ods
fase_3/tech_challenge/teste.ipynb
fase_3/tech_challenge/file_test.csv
fase_3/tech_challenge/documentacao/*.xls
fase_3/tech_challenge/documentacao/*.zip
